body a,
body input{
    border-radius: 0 !important;
}

body h2{
    color: #FFF;
}

.navbar{
    background: #222;
}

.navbar .nav-item{
    padding-left: 1em;
}

.navbar .nav-item .nav-link{
    text-transform: uppercase;
}

.carousel-item{
    height: 450px;
}

.carousel-img-1{
    background: url('../img/image1.jpeg');
    background-size: cover;
}

.carousel-img-2{
    background: url('../img/image2.jpeg');
    background-size: cover;
}

.carousel-img-3{
    background: url('../img/image3.jpeg');
    background-size: cover;
}

#homeIcon .fa{
    font-size: 50px;
}

#getstarted{
    position: relative;
    background: url('../img/pc.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
}

#getstarted .dark-overlay{
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home-video{
    position: relative;
    background: url('../img/people.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
}

#home-video .dark-overlay{
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home-video .fa{
    font-size: 50px;
}

#home-video a{
    color: red;
}

#gellary img{
    min-height: 250px;
}

#copyright{
    background: #222;
}

/*----About Page------*/

#about-header{
    background: url('../img/image1.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height: 250px;
}

#about-info img{
    height: 350px;
    width: 350px;
}

#icon-box .fa{
    font-size: 50px;
    margin-bottom: 15px;
}

#icon-box h3{
    color: white;
}

#testimonial{
    background: #f8f9fa;
}

#testimonial .slick-prev::before,
#testimonial .slick-next::before{
    color: black;
}

/*----Services Page------*/

#services-header{
    background: url('../img/image2.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height: 250px;
}

#services-plan .card{
    border-radius: 0;
}

#services-plan .list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#services-plan .list-group-item:last-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#accordion a{
    color: #343a40;
}

#accordion .card{
    border-radius: 0;
}

/*----Blog Page------*/

#blog-header{
    background: url('../img/image3.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height: 250px;
}

/*----Contact Page------*/

#contact-header{
    position: relative;
    background: url('../img/image5.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 250px;
}

#contact-header .dark-overlay{
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact .card,
#contact textarea{
    border-radius: 0;
}




/*--------Media Query-----------*/
@media (max-width: 767px){
    .navbar .nav-item{
    padding-left: 0;
    }
    #getstarted{
        min-height: 300px;
    }
    #icon-box .col-md-4{
        padding-bottom: 1.5rem;
    }
    #icon-box .col-md-4:nth-child(3),
    #icon-box .col-md-4:nth-child(6){
        padding-bottom: 0;
    }
}

@media (max-width: 480px){
    body p{
        font-size: 1.1rem !important;
    }
    .carousel h2{
        font-size: 2.5rem;
    }
    #getstarted{
        min-height: 350px;
    }
}

@media (max-width: 360px){
    body p{
        font-size: 1rem !important;
    }
    #home-video h2,
    #newsletter h2{
        font-size: 1.5rem;
    }
    .carousel h2{
        font-size: 2rem;
    }
    #getstarted h3{
        font-size: 1.5rem;
    }
}